@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-content: var(--content);
  --color-foreground: var(--foreground);
  --color-foreground-2: var(--foreground-2);

  --font-questrial: var(--font-questrial-400);
  --font-arboria: var(--font-arboria-custom)

  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);

  --color-ring: var(--ring);

  --color-input: var(--input);

  --color-border: var(--border);

  --color-destructive: var(--destructive);

  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);

  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);

  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

:root {
  --radius: 0.9rem;

  --background: oklch(1 0 0);
  --content: oklch(1 0 0);
  --foreground: oklch(27.274% 0.00003 271.152);
  --foreground-2: oklch(42.024% 0.00005 271.152);

  --primary: oklab(70.77% 0.07665 0.13497);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklab(19.807% 0.01269 -0.05301);
  --secondary-foreground: oklch(0.985 0 0);

  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);

  --accent: oklab(71.258% 0.00601 -0.07859);
  --accent-foreground: oklch(27.274% 0.00003 271.152);

  --destructive: oklch(0.577 0.245 27.325);

  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@utility container-screen-2xl {
  @apply mx-auto w-full max-w-screen-2xl px-3 sm:px-6;
}

@utility container-screen-xl {
  @apply mx-auto w-full max-w-7xl px-3 sm:px-6;
}

@utility container-screen-lg {
  @apply mx-auto w-full max-w-5xl px-3 sm:px-6;
}

@utility container-screen-md {
  @apply mx-auto w-full max-w-3xl px-3 sm:px-6;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground flex h-full min-h-svh flex-col text-[1.05rem] font-arboria;
  }

  main {
    @apply grow;
  }

  svg {
    @apply size-4.5;
  }

  strong {
    @apply text-foreground font-medium;
  }

  p,
  li,
  span {
    @apply text-foreground-2 font-questrial;
  }

  a {
    @apply outline-none;
  }
}
input[data-autocompleted] {
  background-color: transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:focus {
  transition:
    background-color 0s 0s,
    color 0s 0s;
  transition-delay: calc(infinity * 1s);
}
